* {
  margin: 0;
  padding: 0;
}
body {
  margin: 2rem 0;
  background-color: #548687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1s);
  font-size: 8vmin;
  background-color: #ffffc7;
  color: #b0413e;
}

#reset {
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 1rem;
  border: none;
  background-color: #191913;
  color: #ffffff;
}

.msg-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vmin;
}

.hide {
  display: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
  font-weight: 600;
}

#new-btn {
  padding: 0.5rem;
  font-size: 1rem;
  width: 200px;
  border-radius: 0.5rem;
  border: none;
  background-color: #191913;
  color: #ffffff;
}
